ENOVACOM_BASE_URL=https://ris-recette-instance3.nd.care/AIR/eris_project/eris_php/WebServices/WS_rdv_externe.php
ENOVACOM_TOKEN=replace_me
ENOVACOM_SITE_ID=5
GEMINI_API_KEY=replace_me
GEMINI_MODEL=gemini-2.5-flash
GEMINI_THINKING_BUDGET=0
